$backgroundColor: #252B3A;
$backgroundImage: '../images/img.png';

.body {
  background: $backgroundColor;
  color: #fff;
}

.containerBox {
  background-image: url($backgroundImage);
  height: 100vh;
  background-size: cover;
  padding: 0;
}

.home {
  display: flex;
}
